.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;

  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #ffe81f;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #ffe81f;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #fff;
    }
  }
}
